$color-blue-50: #e9f3ff;
$color-yellow-50: #fcf4d6;
$color-yellow-200: #f1c21b;
$color-text-brand: #2389ff;
$color-surface-secondary: #dde1e6;
$color-purple-600: #6929c4;
$color-purple-100: #e8daff;
$color-blue-100: #bbdaff;
$color-cool-gray-200: #c1c7cd;
$color-border-secondary: #5d5f67;
$color-background-scollbar: #f8f8f8;
$color-red-50: #fff1f1;
$color-red-400: #da1e28;
